.day {
  display: flex;
  border: 4px solid #007bff; 
  padding: 0; 
}
.day div {
  flex-grow: 1; 
  flex-shrink: 1; 
  flex-basis: 0; 
  background-color: #f8f8f8; 
  color: #333; 
  text-align: center; 
  padding: 15px 0; 
  font-size: 16px; 
  font-weight: bold; 
  border-right: 4px solid #007bff; 
}
.day div:last-child {
  border-right: none;
}
h1 {
  font-family: sans-serif;
  font-size: 30px;
}
